
/* =========================
  RESET / BASE
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #442d538f;
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/* =========================
  CABEÇALHO / NAVBAR
========================= */

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 2%;
  color: brown;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  font-style: oblique;
}

.nav {
  position: relative;
  width: min(90vw, 900px);
  height: 80px;
}

.navbarconteudo {
  position: relative;
  z-index: 2;
  width: min(90vw,730px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/navbar.svg");
  background-size: 85% 80%;
  background-position: center;
  background-repeat: no-repeat;
  animation: glowNavbar 3s ease-in-out infinite;
}

header ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

header ul li a,
header ul li a:visited {
  color: rgb(255, 255, 255);
  pointer-events: auto;
  text-decoration: none;
}

header ul li a:hover {
  color: #4018c1;
  filter: brightness(1.5) drop-shadow(0 0 10px #aa9696);
  transition: 0.8s;
}


/* =========================
   ÍCONES DA NAVBAR
========================= */

.inicio{
  width: 25px;
  transform: translateY(5px) translateX(-3px);
}
.sobre,
.terminalicon,
.whatsapp,
.instagram,
.git,
.linkedin {
  width: 22px;
  transform: translateY(5px) translateX(-3px);
}


/* =========================
  LOGO SITE
========================= */

.logo {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 2;
  animation-name: spin;
  animation-duration: 3s;
}

.logo img,
.logo i {
  width: 150px;
  height: auto;
  transition: 0.5s;
}

header:hover .logo img,
header:hover .logo i {
  filter: brightness(1.5) drop-shadow(0 0 10px #0dc110);
  transition: 0.5s;
  transform: rotate(10deg);
}


/* =========================
  SEÇÃO 
========================= */

.secao1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image:
    linear-gradient(
      to bottom,
      transparent 70%,
      #000 100%
    ),
    url("../assets/backgroundprofissional2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* =========================
   CONTEUDO PEDRA PAPEL TESOURA
========================= */

.conteudojogo {
  width: min(1200px, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jogo {
  width: 1000px;
  height: 600px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid #006aff;
  box-shadow: 0 0 25px rgba(0, 128, 255, 0.4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: aparecerBaixo 1.8s ease forwards;
}

.logo-jogo {
  display: flex;
  margin-bottom: 300px;
  width: 900px;
  animation: aparecerBaixo 1.8s ease forwards;
}

.imagensjogo {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.pedraimg {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-200px);
  pointer-events: none;
}

.papelimg {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-200px);
  pointer-events: none;
}

.tesouraimg {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-200px);
  pointer-events: none;
}

.botoes-jogo {
  display: flex;
  gap: 190px;
  transform: translateY(-70px) translateX(10px);
  z-index: 9999;
}

.botao-jogo {
  background: rgba(0, 255, 255, 0.08);
  border: 1px solid #25f4ff;
  color: #dfffff;
  padding: 12px 28px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 0 8px rgba(37, 244, 255, 0.35);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
}


.botao-jogo:hover {
  background: rgba(70, 253, 253, 0.695);
  border-color: #00bfff;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 242, 255, 0.515);
  transform: translateY(-2px);
}

.botao-jogo:active {
  background: rgb(0, 255, 255);
  border-color: #00bfff;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(37, 244, 255, 0.9);
  transform: scale(0.90);
}

.resultadojogo {
  font-size: 24px;
  font-weight: bold;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
}


/* =========================
    ANIMAÇÕES
========================= */

@keyframes aparecerBaixo {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
}

/* =========================
    RESPONSIVO / TELEFONE
========================= */

@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  /* NAVBAR */

  .navbarconteudo {
    width: min(380px, 95vw);
    height: 150px;
    background-size: 100% 100%;
    transform: translateY(100px)translateX(-40px);
    padding: 20px;
  }
  
  header ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px 12px;
  }

  .logo {
  transform: translateX(150px);
  }

  /* SEÇÃO 1 */

  .secao1 {
    min-height: 100vh;
    height: auto;
    padding: 250px 20px 80px;
  }

  .conteudo {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}